* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* START HEADER STYLES */
header nav {
    display:flex;
    justify-content: space-between;
    max-width: 423px;
    margin: 0 auto
}

.nav-links {
    display: flex;
    padding-left:0;
    list-style-type: none;
}
/* END HEADER STYLES */


